body {
    background-color: #ffe6f0;
    font-family: Arial;
    text-align: center;
}

.card {
    background-color: white;
    width: 300px;
    margin: auto;
    margin-top: 80px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

.profile-img {
    width: 200px;
    border-radius: 10px;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: hotpink;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: deeppink;
}

#funFact {
    margin-top: 15px;
    font-weight: bold;
}
